/* Basic Nodes and its attachments. */
.node>*,
.list>*,
.trunk>* {
    font-weight:normal;
    font-family:monospace, system-ui, "Segoe UI Symbol", sans-serif;
}

.node {
    width: 10%;
    aspect-ratio: 4 / 3;
    /* background-color: rgb(255,128,0); */
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1000;
}

.nodeText {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.bubble {
    width: 125%;
    aspect-ratio: 4 / 3;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border-width: 0.7vw;
    border-color: #000000;
    border-style: solid;
    transform-origin: center;
    position: absolute;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.description {
    width: 150%;
    height: 100%;
    top: calc(150% / 2 + 50% + 7px);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--objectL);
    border: 0.3vw solid black;
    visibility: hidden;
}

.hasDesc>.description,
.hasInfo>.info {
    visibility: visible !important;
}

.node>.bubble {
    width: 150%;
}

/*line*/
.line {
    background-color: var(--opposite);
    height: 0.4%;
    transform-origin: 0 50%;
    position: absolute;
}

/*textarea fix*/
textarea {
    overflow-wrap: break-word;
    align-content: start;
    resize: none;
    border: none;
    padding: 0;
    display: block;
    overflow: hidden;
}

textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    /* border-color: inherit !important; */
    appearance: none;
}

textarea[readonly] {
    cursor: default;
}

.tScale {
    white-space: pre-wrap;
    word-break: normal;
    overflow-wrap: normal;
}

.tCenter {
    text-align: center;
    align-content: center;
}

.tCenter::placeholder {
    text-align: center;
}


.info {
    top: -100%;
    position: absolute;
    /* background-color: orange; */
    left: 50%;
    transform: translate(-50%);
    background-color: var(--objectL);
    border: 0.3vw solid black;
    visibility: hidden;
}

.infoSmall {
    width: 44%;
    aspect-ratio: 1 / 1;
}

.infoLarge {
    width: 88%;
    aspect-ratio: 2 / 1;
}

/*list*/
.list {
    width: 13%;
    aspect-ratio: 76/146;
    position: absolute;
    z-index: 1000;
}

.listContent {
    background-color: var(--objectL);
    margin: 0;
    font-size: 125%;
    min-height: 100%;
    width: 100%;
    z-index: 2 !important;
    position: relative;
    border: 1vh, solid;
    box-sizing: border-box;
    z-index: 2;
}

.listTitle {
    /* background-color: orange; */
    width: 80%;
    height: 30%;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
    background: none;
}

.listTitleBottom {
    position: relative;
}

.listTitleTop {
    position: absolute;
    top: 0;
    transform: translate(-50%, -100%);
}


/*trunk*/
.trunk {
    z-index: 1000;
    position: absolute;
    position: 0, 0;
    transform: translate(-50%, -50%);
    width: 20%;
    aspect-ratio: 4 / 3;
    /* background-color: orange; */
    font-size: clamp(0%, 3vw, 100%);
    z-index: 1000;
}

.trunk>.bubble {
    background-color: var(--secondary);
    z-index: -1
}

.node>.bubble {
    background-color: var(--object);
    z-index: -1;
}

.mmTitle {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: none;
    font-size: 100%;
}

.trunk>.bubble {
    pointer-events: none;
    aspect-ratio: 4 / 3;
    height: auto;
}

.selected > .bubble, .selected > .listContent {
    border-color: var(--selection) !important;
    border-style: solid !important;
}